.mapN1 {
    width: auto ;
    height: 400px;
    position: center;
}
.mapN2 {
    width: auto ;
    height: 400px;
    position: center;
}
.mapN3 {
    width: auto ;
    height: 400px;
    position: center;
}

